<html ng-app="todoApp">
<head><title>To Do App</title>
  	<script src="angular-1.3.9/angular.min.js"></script>
	<script src="todoApp.js"></script>
	<link rel="stylesheet" href="hello.css">
	<script src="jquery-2.1.3.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
	<body>
  	<h1> To Do List </h1>
  	<div ng-controller="Ctrl as t">
  		<h2>{{t.items.length}} Tasks Remaining</h2>
  		<ul class="list-group">
  			<li class="list-group-item" ng-repeat="item in t.items">
  				<input type="checkbox" ng-click="t.removeItem(item)">
  				{{item.text}}
  			</li>
  		</ul>
  		<input type="text" placeholder="Enter a new item" ng-model="t.newItem">
  		<button class="btn btn-primary" type="submit" ng-click="t.addItem()" ng-disabled="!t.checkItem()">ADD</button>
  		<h2>{{t.completedItems.length}} Tasks Completed </h2>
  		<ul class="list-group">
  			<li class="list-group-item" ng-repeat="item in t.completedItems">
          <span class="done-{{item.done}}">{{item.text}}</span>
  			</li>
  		</ul>
  	</div>
	</body>
</html>
